<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="pl.sages" />

    <context:property-placeholder location="system.properties" />

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="pl.sages.spring.lab.Adress" value ="pl.sages.spring.lab.AdressConverter"/>
            </map>
        </property>
    </bean>
    <!--<bean name="person" class="pl.sages.spring.lab.Person">-->
        <!--<property name="name" value="Jan" />-->
        <!--<property name="lastName" value="Kowalski" />-->
        <!--<property name="adress" value="Gdansk:Warszawska:5" />-->
    <!--</bean>-->

    <!--<bean name="person2" class="pl.sages.spring.lab.Person"/>-->

    <!--<bean name="adress1" class="pl.sages.spring.lab.Adress">-->
        <!--&lt;!&ndash;<property name="city" value="${city}" />&ndash;&gt;-->
        <!--<property name="street" value="Marszałkowska" />-->
        <!--<property name="number" value="5" />-->
    <!--</bean>-->
    <!-- Zdefiniuj bean Person -->

    <!-- Skonfiguruj obslugę adnotacji -->

</beans>